.product {
    text-align: left;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 7px;
    position: relative;
    padding: 7px;
}

.product img {
    border-radius: 7px;
}

.info-area {
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 40px;
}

.info-area p {
    margin: 0px;
}

.cartBtn {
    width: 100%;
    padding: 15px 0px;
    border: none;
    border-radius: 0 0 7px 7px;
    background-color: rgba(255, 166, 0, 0.402);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.cartBtn:hover {
    cursor: pointer;
    background-color: orange;
}