.header {
    background-color: blueviolet;
    padding: 13px 0px;
}

.header-inner {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 4px;
    display: inline-block;
}

.menu a:hover {
    background-color: orange;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu ul li {
    display: inline-block;
}